$fontOpenSans: 'Open Sans', sans-serif;
$grey: #00000029;
$grey1: #161A20;
$grey2: #272726;
$grey3: #ffffff26;
$grey4: #fff9;

$white: #fff;
$black: #000;

$yellow: #EFAE00;
$lightYellow: #ffb5001a;

$blue: #10B8E0;